// -------GLOBAL------
body
    margin: 0%
    display: flex
    flex-direction: column

// --------nav-----------
nav
    background-color: #0c0556
    width: 100%
    height: 40px
    display: flex
    flex-direction: row
    align-items: center 
    justify-content: space-around

h6
    color: white
    display: flex
    font-weight: 600

a
    text-decoration: none
    color: #9ca19a
    font-size: 0.5rem
    font-weight: 600

@media screen and (max-width: 750px)

    nav
        background-color: #0c0556
        width: 100%
        height: 50px
        display: flex
        flex-direction: column

    h6
        color: white
        font-weight: 600
        font-size: 0.5rem
        margin-bottom: 0.5%

    a
        text-decoration: none
        color: #9ca19a
        font-size: 0.5rem
        font-weight: 600
        margin-top: 0.5%

// ---------HEADER--------
header
    background-color: rgb(0,1 ,444 )
    width: 100%
    height: 250px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    

header h1
    color: white
    margin-bottom: 0.1rem
    font-weight: 700
    font-size: 2.5rem

header h2
    color: white
    margin-top: 0.1rem
    font-weight: 700
    font-size: 1.6rem
    margin-bottom: 0.4rem

header input
    margin-top: 0.4rem

.learnmore
    background-color: #e23a6f
    border: none
    color: white
    border-radius: 20% / 50%
    height: 13%
    width: 80px
    font-weight: 600
    font-size: 0.5rem
    text-align: center

@media screen and (max-width: 750px)
    
    header h1
        margin-bottom: 0.1rem
        font-weight: 700
        font-size: 1.5rem

    header h2
        color: white
        margin-top: 0.1rem
        font-weight: 700
        font-size: 0.6rem
        margin-bottom: 0.4rem

    .learnmore
        height: 6%
        width: 10%
        font-weight: 600
        font-size: 0.5rem


// -------MAIN-----------


section
    display: flex
    flex-direction: row
    padding-left: 25%
    padding-right: 25%
    padding-top: 5%

section span
    display: block

.section1 p, .section3 p
    padding: 0% 24% 0% 0%

.section1 h3, .section3 h3
    padding: 0% 24% 0% 0%

.section2 p
    padding: 0% 0% 0% 24%

.section2 h3
    padding: 0% 0% 0% 24%

img
    border-radius: 50%
    height: 300px
    width: 300px

main h3
    font-size: 2rem

@media screen and (max-width: 900px)

    .section1 img
        float: right
        border-radius: 50%
        height: 100px
        width: 100px
        margin-top: 150%

    .section2 img
        float: left
        border-radius: 50%
        height: 100px
        width: 100px
        margin-top: 150%
    
    .section3 img
        float: right
        border-radius: 50%
        height: 100px
        width: 100px
        margin-top: 150%

    section p
        padding: 0%

    // .section2
    //     display: block
    //     flex-direction: column-reverse

//  --------FOOTER----------

footer
    background-color: black
    color: white
    font-size: 0.5rem
    width: 100%
    height: 40px
    display: flex
    flex-direction: row
    align-items: center 
    justify-content: center
